.header {
  color: #a8aebf;
  flex-direction: row;
  background: rgba(18, 24, 41, 0.8);
}

.logo {
  width: 40px;
  height: 40px;
}

.header .Logo_inicio {
  padding-left: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header ul a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #a8aebf;
  margin: 0px 25px;
}

.header ul a:hover {
  color: #ffffff;
}

.active {
  background-color: rgb(33, 33, 177);
  border-radius: 8px;
  padding: 3px;
}

.navbar-toggler .line {
  display: block;
  width: 35px;
  height: 2px;
  background-color: #F8ECD1;
  margin-block: 10px;
  border-radius: 4px;
  transition: transform .5s, opacity .25s;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  color: transparent;
}

.navbar-collapse ul{
  padding-left: 70%;
}

@media only screen and (max-width: 900px) {
  .header .Logo_inicio {
    padding-left: 25px;
  }
  .nav-item {
    padding-top: 10px;
  }
  .navbar-collapse ul{
    padding-left: 1%;
  }
  .navbar-toggler {
    padding-right: 25px;
  }
}