.mensaje {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 500px;
  height: 420px;
}

h1 {
  font-size: 48px;
  color: #ebeef5;
}

p {
  font-size: 16px;
  color: #8e95a9;
}

.home {
  padding: 16px 32px;
  width: 139px;
  background: #7b6ef6;
  border-radius: 12px;
}

.home:hover {
  background: #2c2757;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
}

@media only screen and (max-width: 900px) {
  .contenedor-mensaje {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .mensaje {
    width: 80%;
    text-align: center;
  }
  img {
    display: none;
  }
}
