h1 {
  color: #EBEEF5;
  font-size: 65px;
  padding-left: 10%;
  padding-top: 100px;
  font-family: 'Poppins';
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 55px;
    padding-left: 8%;
  }
}